<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: rgb(211, 72, 72); margin-top: 12px; margin-bottom:12px;" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-col size="12">
      <ion-searchbar style="height:50px; padding:0;" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-col>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- Custom Refresher Content -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="!dataLoaded">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
    
      <ion-list>
        
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
           
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
     
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
     
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
     
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div  *ngIf="dataLoaded">
  
    <div class="row m-3">
      <div class="col-4 m-0 p-0">
        <ion-label class="align-middle">
          Select Record : 
        </ion-label>
      </div>
      <div class="col m-0 p-0">
       
          <select class="form-control" [(ngModel)]="mySelect" (change)="getValue(mySelect)">
            <option value="">- Select No of Record -</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
      </div>
  </div>
  
  
    <ion-card class="cardHome" *ngFor="let news of newsArray" >
      <ion-row>
        <ion-col *ngIf="news.newsImage != null" size="5" style="overflow: hidden;" >
  
          <img  class="homeImg" src="{{news.newsImage}}" (click)="getDetails(news)">
        </ion-col>
        <div *ngIf="news.newsImage != null; then ngs; else ngt"></div>
        <ng-template #ngs>
          <ion-col  size="7">
            <ion-card-content class="ion-no-padding">
              <p class="ion-text-left title" (click)="getDetails(news)">{{news.newsTitle}}</p>
              <div style="margin-top: 15px;display:flex;justify-content: space-between;align-items: center;font-size:10px;">
                <div class="ion-text-left">
                  <span style="color:lightgray">Source : </span>
                  <a href="{{ news.newsURL }}" style="color:blue;">{{news.newsSourceName}}</a>
                  </div>
    <!--            <ion-icon class="share" (click)="sShare(news.newsURL)" name="share-social-outline"></ion-icon>-->
                <span>{{news.newsDate | timeago }}</span>
              </div>
            </ion-card-content>
          </ion-col>
        </ng-template>
        <ng-template #ngt>
          <ion-col  size="12">
            <ion-card-content class="ion-no-padding">
              <p class="ion-text-left title" (click)="getDetails(news)">{{news.newsTitle}}</p>
              <div style="margin-top: 15px;display:flex;justify-content: space-between;align-items: center;font-size:10px;">
                <div class="ion-text-left">
                  <span style="color:lightgray">Source : </span>
                  <a href="{{ news.newsURL }}" style="color:blue;">{{news.newsSourceName}}</a></div>
    <!--            <ion-icon class="share" (click)="sShare(news.newsURL)" name="share-social-outline"></ion-icon>-->
                <span>{{news.newsDate | timeago }}</span>
              </div>
            </ion-card-content>
          </ion-col>
        </ng-template>
      
  
      </ion-row>
    </ion-card>
    <div  *ngIf="dataLoaded" class="row m-3">
      <div class="col text-right">
       <button (click)="prevNews(prev)" *ngIf="showPrev" class="btn btn-primary btn-small"><ion-icon name="arrow-back-outline"></ion-icon> Prev</button>
     </div>
     <div class="col">
       <button (click)="nextNews(next)" class="btn btn-primary  btn-small">Next <ion-icon name="arrow-forward-outline"></ion-icon></button>
     </div>
  </div>
  </div>  
  
  </div>
</ion-content>
