<ion-header>
  <div class="row">
    <div class="col-8" style="background-color: #141415;">
      <img src="../../assets/images/grobot_wimg.png" (click) = "loading('home')" style="height: 40px; margin: 10px 10px 0"/>
    </div>
    <div class="col-4" style="display:flex; padding-top:10px; align-items:center; justify-content: center;flex-direction: column; background-color: #141415;"> 
        <ion-avatar style="height: 37px;text-align: center;" (click) = "loading('stu-dashboard')">
      <img style="height: 35px; width: 35px; margin: 0 auto;" src="../../assets/images/admin-icon.png" />
        </ion-avatar>
        <ion-text style="text-transform: capitalize; font-size: 12px;color:white;text-align: center;"> {{ memFname }} {{ memLname }}</ion-text>
      
    </div>
   

  </div>
 
</ion-header>

<ion-content [fullscreen]="true">
<!-- Custom Refresher Content -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <div>
    <div *ngIf="!dataLoaded">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
    
      <ion-list>
        
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
           
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
     
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
     
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
     
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div  *ngIf="dataLoaded">
      <div *ngFor="let act_list of activity">
        <ul class="tabuler-list mx-1 mb-4" id="ActivitiesList">
          <li class="hvr-shutter-out-horizontal hvr-icon-wobble-horizontal">
            <div class="row align-items-center justify-contents-center">
              
              <div class="col-2 pl-0">
                <span *ngIf="act_list.toLeadId" class="p-2 rounded">
                <i class="fas fa-user-edit fa-2x hvr-icon"></i>
              </span>
              <span *ngIf="act_list.toCamId" class="p-2 rounded">
                <i class="fas fa-chart-line fa-2x hvr-icon"></i>
              </span>
              <span *ngIf="act_list.emailID" class="p-2 rounded">
                <i class="fas fa-envelope fa-2x hvr-icon"></i>
              </span>
              <span *ngIf="act_list.smsID" class="p-2 rounded">
                <i class="fas fa-sms fa-2x hvr-icon"></i>
              </span>

            </div>
            <div class="col-10 pr-1 pl-0">
              <div class="title_list col-md-12 pr-0 pl-0">
                <a href="https://grobot.ai/member/leads.php" target="_blank">{{ act_list.toFname}} {{ act_list.toLname}} </a>
                  {{ act_list.notificationComment}} 
                </div>
              </div>
            </div>
            <div class="clearfix"></div></li>
        </ul>
      </div>
     
    </div>
    </div>
</ion-content>
<app-footer></app-footer>
